img {
    width: 440px;
    height: 390px;
}
h1 {
    color: dodgerblue;
    border-style: dotted;
    width: 278px;
    font-size: 350%;
}
h3 {
    color: #e1b814;
    font-size: 157%;
}