<!-- Lili -->
<div id="lili">
    <div style="display: inline-block;width: 60%;">
                <h1 class="title-pink-border">Der Husky</h1>
                <h2 class="title-small-pink"
                    style="text-align: right;">
Von Lili
</h2> 
                <p class="text-blue-bold">
  Die Vorfahren des Siberian Husky stammen aus dem nördlichen Sibirien. Dort waren sie jahrhundertelang unentbehrliche Begleiter der dort lebenden Nomadenvölker, zum Beispiel der Tschuktschen.
</p>
                <div style="height: 30px;"></div>
                <p class="text-grey-bold">
                    
                    1909 meldete sich der aus Sibirien stammende Pelzhändler William Goosak mit seinen kleinen, relativ zierlichen Hunden zum All-Alaska-Sweepstakes-Schlittenhunderennen (408 Meilen von Nome nach Candle und zurück) an. Er wurde wegen seiner „kleinen Hunde“ belächelt. Goosak belegte bei diesem anspruchsvollen Rennen Rang drei.
                    Im Jahr darauf gewann John Johnson („Iron Man“) mit ebenso kleinen Hunden. Die beiden anderen eingetragenen Gespanne von „Siberian Huskies“ belegten die Plätze zwei und vier. Daraufhin wurde 1910 in Alaska die Zucht durch den norwegischen Musher Leonard Seppala gegründet. Eine bedeutende Rolle für die Zuchtentwicklung spielte dabei unter anderem Seppalas Rüde Togo.</p>
                
            <div style="height: 30px;"></div>
                <h2 class="title-small-purple">
Widerristhöhe
</h2>
<ul class="list-hashtag-purple">
<li><i class="fa fa-hashtag"></i>Rüde: 53,5–60 cm (21–23,5 Zoll)
</li>
    <li><i class="fa fa-hashtag"></i>Hündin: 50,5-56 cm (20-22 Zoll)</li>
                </ul>
                <div style="height: 30px;"></div>
                <h2 class="title-small-purple">Gewicht
</h2>
<ul class="list-hashtag-purple">
<li><i class="fa fa-hashtag"></i>Rüde: 20,5–28 kg (45–60 lbs)
</li>
    <li><i class="fa fa-hashtag"></i>Hündin: 15,5-23 kg (35-50 lbs)</li>
</ul>
            </div>
            <div style="float:right; width: 35%"><img src="husky-609554_960_720.jpg" class="image-round">
            </div>
</div>

<!-- Navina -->
<div id="navina">

</div>

<!-- Aleyna -->
<div id="aleyna">

</div>

<!-- Laura -->
<div id="laura">

</div>

<!-- Matilda -->
<div id="matilda">

</div>

<!-- Elina -->
<div id="elina">

</div>

<!-- Annalena -->
<div id="annalena">
            <div style="float:left; width: 30%" >
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Bundy_bass_clarinet.png/250px-Bundy_bass_clarinet.png" class="image-semiround" style="padding-right:20px;" >
            </div>
            
            <div>
                <h1 class="title-green-background"> 
                   Hey!
                Ich fand den Girls-Day super!
                Das haben wir gemacht:
                </h1>  

                <ul  class="list-star-green"> 
                    <li><i class="fa fa-heart"></i>Wir haben Autoscout in München angerufen </li> 
                    <li><i class="fa fa-heart"></i>Wir haben gegessen</li> 
                    <li><i class="fa fa-heart"></i>Wir haben einen Rundgang gemacht und die verschiedenen Berufe kennengelernt</li>   
                    <li><i class="fa fa-heart"></i>Wir haben einen Workshop gemacht</li>
                </ul> 
            </div>
</div>

<!-- Jasmin -->
<div id="jasmin">
<div style="float:left;width:10%;">
                <img src="http://free-illustrations-ls01.gatag.net/images/lgi01b201308200500.jpg" class="image-round"  >
            </div>
            
            <div>
                <h1 class="title-purple-border"> 
                    Heii Leute :D 
            
                </h1> 
               <ul  class="list-hashtag-purple"> 
                    <li><i class="fa fa-hashtag"></i>Ich habe vom Girls Day gelernt wie man <b>Dick</b> schreibt </li> 
                    <li><i class="fa fa-hashtag"></i>Oder wie man <i> Kursiv</i> schreibt</li> 
                   <li><i class="fa fa-hashtag"></i>Außerdem wie man <span style="font-size: 22px;"> Größer</span> schreiben kann</li> 
                   <li><i class="fa fa-hashtag"></i>Und wie man <u>Unterstreicht</u> </li> 
                </ul>
            </div>
</div>

<!-- Afrakoma -->
<div id="afrakoma">

</div>

<!-- Matthia -->
<div id="mathia">

</div>

<!-- Filia-Marie -->
<div id="filia-marie">

</div>

<!-- Marie -->
<div id="marie">

</div>
