<!-- Lili -->
<div id="lili">
    <div style="display: inline-block;width: 60%;">
                <h1 class="title-pink-border">Der Husky</h1>
                <h2 class="title-small-pink"
                    style="text-align: right;">
Von Lili
</h2> 
                <p class="text-blue-bold">
  Die Vorfahren des Siberian Husky stammen aus dem nördlichen Sibirien. Dort waren sie jahrhundertelang unentbehrliche Begleiter der dort lebenden Nomadenvölker, zum Beispiel der Tschuktschen.
</p>
                <div style="height: 30px;"></div>
                <p class="text-grey-bold">
                    
                    1909 meldete sich der aus Sibirien stammende Pelzhändler William Goosak mit seinen kleinen, relativ zierlichen Hunden zum All-Alaska-Sweepstakes-Schlittenhunderennen (408 Meilen von Nome nach Candle und zurück) an. Er wurde wegen seiner „kleinen Hunde“ belächelt. Goosak belegte bei diesem anspruchsvollen Rennen Rang drei.
                    Im Jahr darauf gewann John Johnson („Iron Man“) mit ebenso kleinen Hunden. Die beiden anderen eingetragenen Gespanne von „Siberian Huskies“ belegten die Plätze zwei und vier. Daraufhin wurde 1910 in Alaska die Zucht durch den norwegischen Musher Leonard Seppala gegründet. Eine bedeutende Rolle für die Zuchtentwicklung spielte dabei unter anderem Seppalas Rüde Togo.</p>
                
            <div style="height: 30px;"></div>
                <h2 class="title-small-purple">
Widerristhöhe
</h2>
<ul class="list-hashtag-purple">
<li><i class="fa fa-hashtag"></i>Rüde: 53,5–60 cm (21–23,5 Zoll)
</li>
    <li><i class="fa fa-hashtag"></i>Hündin: 50,5-56 cm (20-22 Zoll)</li>
                </ul>
                <div style="height: 30px;"></div>
                <h2 class="title-small-purple">Gewicht
</h2>
<ul class="list-hashtag-purple">
<li><i class="fa fa-hashtag"></i>Rüde: 20,5–28 kg (45–60 lbs)
</li>
    <li><i class="fa fa-hashtag"></i>Hündin: 15,5-23 kg (35-50 lbs)</li>
</ul>
            </div>
            <div style="float:right; width: 35%"><img src="https://pixabay.com/static/uploads/photo/2015/01/23/23/51/husky-609554_960_720.jpg" class="image-round">
            </div>
</div>

<!-- Navina -->
<div id="navina">
        <div id="ui">

        
        <div style="float:right;">
            <img class="image-round"
                 src="steg.jpg">
         
            </div>
            
            <div style="display: inline-block; width 40%;">
            
            
                <h1 class="title-green-background"> Navina </h1>
            <div> 
                <p> Steckbrief:</p>
                
              <ul class="list-hashtag-purple">
                    
               <li><i> Alter </i> </li>
             <li><i class="fa fa-hashtag"> 14 Jahre </i></li>
                     <li><i> Hobbies </i> </li>
                        
                <li><i class="fa fa-hashtag">Rudern</i> </li>
                    <li><i class="fa fa-hashtag">Pfadfinder</i> </li>
                    <li><i class="fa fa-hashtag">Badminton spielen</i></li>
                         <li><i> Was mir am Girls Day bei Immobilienscout24 gefallen hat: </i> </li>

                <li><i class="fa fa-hashtag">Das Programmieren</i> </li>
                    <li><i class="fa fa-hashtag">Neue Eindrücke von der IT Branche kennen zulernen </i> </li>
                     
                </ul>
             
            </div>
            
            </div>    
            
        </div>
</div>

<!-- Aleyna -->
<div id="aleyna">

</div>

<!-- Laura -->
<div id="laura">

</div>

<!-- Matilda -->
<div id="matilda">

</div>

<!-- Elina -->
<div id="elina">

</div>

<!-- Annalena -->
<div id="annalena">

</div>

<!-- Jasmin -->
<div id="jasmin">

</div>

<!-- Afrakoma -->
<div id="afrakoma">
 
        <div id="ui">

        
        <div style="float:right;"> 
            <img class="image-round" style="height:200px;" src="bahn.jpg">
         </div>
            
            <div> 
                <h1 class="title-pink-border"> Afrakoma </h1>
            <div> 
                <p> Steckbrief:</p>
                <p>Alter</p>
                <ul class="list-hashtag-purple">
                 <li><i class="fa fa-hashtag"> 13 jahre</i>
                        <p>Hobbies</p>
                <li><i class="fa fa-hashtag">Leichtathletik</i>
                    <li><i class="fa fa-hashtag">Klavier spielen</i>
                        <li><i class="fa fa-hashtag">Badminton spielen</i>
                        
<p>Was mir am Girls Day bei Immobilienscout24 gefallen hat:</p>
                            <li><i class="fa fa-hashtag">das Programmieren</i>
                                <li><i class="fa fa-hashtag">die vielen Berufe in der IT Branche kennen zu lernen </i>
                     
                </ul>
             
            </div>
            
            <div>
            
            
            
            </div>    
            
</div>

<!-- Mathia -->
<div id="mathia">

</div>

<!-- Filia-Marie -->
<div id="filia-marie">
  <div id="ui">
            <div style="display: inline-block; width: 30%;">
             <img class="image-round"  style="margin-left: 100px;" src="http://placekitten.com/g/250/250">
            </div>
            <div style="float:right; width: 40%; margin-right: 100px;">
                <h1 class="title-purple-border"> Filia-Marie</h1> 
                <p class="purple-border"> Es hat mir sehr gut gefallen :)
                Ich hatte sehr viel spaß und würde den tag gern nocheinmal wiederholen.
                
                </p> 
                
                <ul  class="list-hashtag-purple"> 
                    <li><i class="fa fa-hashtag"></i>Freundlichkeit</li> 

                    <li><i class="fa fa-hashtag"></i>Spaß</li> 

                    <li><i class="fa fa-hashtag"></i>Man lernt sehr viel </li> 

                </ul> 
            </div>
        </div>
</div>

<!-- Marie -->
<div id="marie">
               <div class="purple-border">
                
<h1 class="title-purple-border">
Wenn im Februar die Lerchen singen, wird's uns Frost und Kälte bringen.
</h1>

            <div style="display:inline-block;">
                <img class="image-round" src="http://lorempixel.com/200/200/nature/">
                
            </div>
                <div style="display: inline-block; width: 70%; float:right;margin-top:4%;">
                
<ul class="list-hashtag-purple">
<li><i class="fa fa-hashtag"></i>
Hängt's Laub in den November rein, wird der Winter lange sein.</li>
<li><i class="fa fa-hashtag"></i>Siehst du die Schmetterlinge tanzen, kannst du draußen pflanzen.</li>
<li><i class="fa fa-hashtag"></i>
Ist der Maulwurf am Wühlen, kriegt's der Regenwurm zu spüren.</li>
</ul>
                    </div>

            </div>

</div>
