<!-- Lili -->
<div id="lili">
    
</div>

<!-- Navina -->
<div id="navina">

</div>

<!-- Aleyna -->
<div id="aleyna">

</div>

<!-- Laura -->
<div id="laura">

</div>


<div id="matilda"> 

            <div class="pink-border" style="width: 90%; margin: 0 5%;">
            
            <div style="float:right;
                        margin-right:2%;
                        margin-bottom:10%;
                    
                        display:inline-block;"
                 >
                <img class="image-semiround" src="http://placekitten.com/200/250">
           
            </div>
            
            <div class="purple-border" style="display:inline-block; width: 60%;
                                              margin-left:2%;
                                              
                                              padding:1%;">
                <h1 class="title-purple-border">Matilda</h1>
                
                <h2 class="title-small-purple">Was mir heute besonders gut gefallen hat</h2>
                   <ul class="list-hashtag-purple">
                       <li><i class="fa fa-hashtag"></i>Das Entwerfen meiner eigenen website </li>
                       <li><i class="fa fa-hashtag"></i>Das Tischtennis spielen mit den anderen Mädchen</li>
                       <li><i class="fa fa-hashtag"></i>Die Führung durch die Firma</li>
                       <li><i class="fa fa-hashtag"></i>Das Essen</li>
                    </ul>
                
            </div>
            
            </div>
            
      
        

</div>

<!-- Elina -->
<div id="elina">

</div>

<!-- Annalena -->
<div id="annalena">

</div>

<!-- Jasmin -->
<div id="jasmin">

</div>

<!-- Afrakoma -->
<div id="afrakoma">

</div>

<!-- Mathia -->
<div id="mathia">
     <div id="ui">
            <div style="float:right;">
                <img class="image-round" src="http://placekitten.com/400/400"> 
            </div>
            
            <div style="display: inline-block; width: 40%;">
            <h1 class="title-pink-border"> Ein sehr schöner Tag</h1> 

                    <ul  class="list-star-green"> 
                        <li><i class="fa fa-star"></i>Egal wie langsam Du bist... Phllip ist Lahm.</li> 
                        <li><i class="fa fa-star"></i>Egal wie Neu Du bist... Manuel ist Neuer.</li> 
                        <li><i class="fa fa-star"></i>Zwei Glatzen kriegen sich in die Haare.</li> 
                    </ul> 
                    <ul  class="list-hashtag-purple"> 
                        <li><i class="fa fa-hashtag"></i>Burlesque</li> 
                        <li><i class="fa fa-hashtag"></i>Twilight</li> 
                        <li><i class="fa fa-hashtag"></i>Der Tag war sehr sehr schön. Es hat mir sehr gut gefallen.</li> 
                    </ul> 
                </div>    
        </div>

</div>

<!-- Filia-Marie -->
<div id="filia-marie">

</div>

<!-- Marie -->
<div id="marie">

</div>
