<div class="result-list-entry">
    <img src="./2017_exposes/adesuwa/hoehle.png" class="result-list-img">
    <h2><a href="./2017_exposes/adesuwa/hoehle.html">Wo sich Fuchs und Hase Gute Nacht sagen (Adesuwa's Höhle)</a></h2>
    <hr/>
    <p>
    <b>Adresse:</b> Hinter dem 3. Berg links <br/>
    <b>Anzahl Zimmer:</b> 2 <br/>
    <b>Größe:</b> 10qm  <br/>
    <b>Preis:</b> 300 Euro  </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2017_exposes/blanka/strandhaus.png" class="result-list-img">
    <a href="./2017_exposes/blanka/strandhaus.html"><h2>Traumhaus am Strand (Blanka's Strandhaus)</h2></a>
    <hr/>
    <p>
    <b>Adresse:</b> Am Strand 13  <br/>
    <b>Anzahl Zimmer:</b> 8 <br/>
    <b>Größe:</b> 200qm  <br/>
    <b>Preis:</b> 4000 Euro </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2017_exposes/sarah/strandhaus.png" class="result-list-img">
    <a href="./2017_exposes/sarah/strandhaus.html"><h2>Traumhaus am Strand (Sarah's Strandhaus)</h2></a>
    <hr/>
    <p>
        <b>Adresse:</b> Am Strand 13  <br/>
        <b>Anzahl Zimmer:</b> 8 <br/>
        <b>Größe:</b> 200qm  <br/>
        <b>Preis:</b> 4000 Euro </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2017_exposes/eileen/haus-am-see.png" class="result-list-img">
    <h2><a href="./2017_exposes/eileen/haus-am-see.html">Schönes Haus in der Natur (Eileen's Haus am See)</a></h2>
    <hr/>
    <p>
    <b>Adresse:</b>  Am Hügel uendlich <br/>
    <b>Anzahl Zimmer:</b> 3 <br/>
    <b>Größe:</b> 250qm  <br/>
    <b>Preis:</b> 1000 Euro </p>
</div>

<a href="./2017_exposes/ilyada/strandhaus.html">  
<div class="result-list-entry margin-top">
    <img src="./2017_exposes/ilyada/strandhaus.png" class="result-list-img">
    <h2>Traumhaus am Strand (Ilyada's Strandhaus)</h2>
    <hr/>
    <p>
    <b>Adresse:</b> Am Strand 13  <br/>
    <b>Anzahl Zimmer:</b> 8 <br/>
    <b>Größe:</b> 200qm  <br/>
    <b>Preis:</b> 4000 Euro </p>
</div>      
</a>

<div class="result-list-entry margin-top">
    <img src="./2017_exposes/diana/iglu.png" class="result-list-img">
    <a href="./2017_exposes/diana/iglu.html"><h2>Einzigartiges Angebot: Nur Kaltmiete zahlen!!! (Diana's Iglu)</h2></a>
    <hr/>
    <p>
        <b>Adresse:</b> Am Südpol 23  <br/>
        <b>Anzahl Zimmer:</b> 1 <br/>
        <b>Größe:</b> 4qm  <br/>
        <b>Preis:</b> 150 Euro  </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2017_exposes/ivetta/strandhaus.png" class="result-list-img">
    <h2><a href="./2017_exposes/ivetta/strandhaus.html">Traumhaus am Strand (Ivetta's Strandhaus)</a></h2>
    <hr/>
    <p>
    <b>Adresse:</b> Am Strand 13  <br/>
    <b>Anzahl Zimmer:</b> 8 <br/>
    <b>Größe:</b> 200qm  <br/>
    <b>Preis:</b> 4000 Euro </p>
</div> 

<div class="result-list-entry margin-top">
    <img src="./2017_exposes/merle/strandhaus.png" class="result-list-img">
    <a href="./2017_exposes/merle/strandhaus.html"><h2>Traumhaus am Strand (Merle's Strandhaus)</h2></a>
    <hr/>
    <p>
    <b>Adresse:</b> Am Strand 13  <br/>
    <b>Anzahl Zimmer:</b> 8 <br/>
    <b>Größe:</b> 200qm  <br/>
    <b>Preis:</b> 4000 Euro </p>
</div>

<div class="result-list-entry margin-top">
    <a href="./2017_exposes/fiona/hoehle.html">
        <img src="./2017_exposes/fiona/hoehle.png" class="result-list-img">
    </a>

    <h2>
        <a href="./2017_exposes/fiona/hoehle.html">
            Wo sich Fuchs und Hase Gute Nacht sagen (Fiona's Höhle)
        </a>
    </h2>
    <hr/>
    <p>
        <b>Adresse:</b> Hinter dem 3. Berg links <br/>
        <b>Anzahl Zimmer:</b> 2 <br/>
        <b>Größe:</b> 10qm  <br/>
        <b>Preis:</b> 300 Euro  </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2017_exposes/selda/haus-am-see.png" class="result-list-img">
    <h2><a href="./2017_exposes/selda/haus-am-see.html">Schönes Haus in der Natur (Selda's Haus am See)</a></h2>
    <hr/>
    <p>
    <b>Adresse:</b>  Am Hügel uendlich <br/>
    <b>Anzahl Zimmer:</b> 3 <br/>
    <b>Größe:</b> 250qm  <br/>
    <b>Preis:</b> 1000 Euro </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2017_exposes/friederike/baumhaus.png" class="result-list-img">
    <a href="./2017_exposes/friederike/baumhaus.html"><h2>Hoch hinaus – Hier haben Sie alles im Blick! (Friederike's Baumhaus)</h2></a>
    <hr/>
    <p>
        <b>Adresse:</b> Christins Garten, 25  <br/>
        <b>Anzahl Zimmer:</b> 1 <br/>
        <b>Größe:</b> 6qm  <br/>
        <b>Preis:</b> 300 Euro  </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2017_exposes/laura/vogelhaus.png" class="result-list-img">
    <h2>
        <a href="./2017_exposes/laura/vogelhaus.html">Schlichtes Holzhäuschen mit schönem Ausblick (Laura's Vogelhaus)</a>
    </h2>
    <hr/>
    <p>
        <b>Adresse:</b> Auf dem Feld 3  <br/>
        <b>Anzahl Zimmer:</b> 1 <br/>
        <b>Größe:</b> 1qm  <br/>
        <b>Preis:</b> 50 Euro </p>
    <a href="./2017_exposes/laura/vogelhaus.html">
        Weitere Informationen </a>

</div>

<div class="result-list-entry margin-top">
    <div class="result-list-img-container">
        <a href="./2017_exposes/viktoria/hoehle.html">
            <img src="./2017_exposes/viktoria/hoehle.png" class="result-list-img">
        </a>
    </div>
    <h2>
        <a href="./2017_exposes/viktoria/hoehle.html">Wo sich Fuchs und Hase Gute Nacht sagen (Viktoria's Höhle)</a>
    </h2>
    <hr/>
    <p>
        <b>Adresse:</b> Hinter dem 3. Berg links <br/>
        <b>Anzahl Zimmer:</b> 2 <br/>
        <b>Größe:</b> 10qm  <br/>
        <b>Preis:</b> 300 Euro  </p>
</div>