<div class="result-list-entry">
    <img src="./2018_exposes/celin/hexenhaus.png" class="result-list-img">
    <a href="./2018_exposes/celin/hexenhaus.html"><h2>Schönes Haus mit Überraschungen (Celin's Hexenhaus)</h2></a>
    <hr/>
    <p>
        <b>Adresse:</b> Wunderwald <br/>
        <b>Anzahl Zimmer:</b> 500 <br/>
        <b>Größe:</b> Unendlich  <br/>
        <b>Preis:</b> Drei magische Bohnen
    </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2018_exposes/lara/schuhhaus.png" class="result-list-img">
    <a href="./2018_exposes/lara/schuhhaus.html"><h2>Was mieft denn hier so gut? Das Haus für die Familie mit dem gewissen Geruchssinn. (Lara's Schuhhaus)</h2></a>
    <hr/>
    <p>
        <b>Adresse:</b> Neben den Turnschuhen, 143  <br/>
        <b>Anzahl Zimmer:</b> 5 <br/>
        <b>Größe:</b> 170qm  <br/>
        <b>Preis:</b> 1.000 Euro
    </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2018_exposes/silan/strandhaus.png" class="result-list-img">
    <a href="./2018_exposes/silan/strandhaus.html"><h2>Traumhaus am Strand (Silan's Strandhaus)</h2></a>
    <hr/>
    <p>
        <b>Adresse:</b> Am Strand 13  <br/>
        <b>Anzahl Zimmer:</b> 8 <br/>
        <b>Größe:</b> 200qm  <br/>
        <b>Preis:</b> 4000 Euro
    </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2018_exposes/anonym_0/steinhaus.png" class="result-list-img">
    <h2><a href="./2018_exposes/anonym_0/steinhaus.html">DAS extravagante Haus</a></h2>
    <hr/>
    <p>
        <b>Adresse:</b> Am Steilhang 17  <br/>
        <b>Anzahl Zimmer:</b> 10 <br/>
        <b>Größe:</b> 300qm  <br/>
        <b>Preis:</b> 5000 Taler
    </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2018_exposes/anonym_1/hoehle.png" class="result-list-img">
    <a href="./2018_exposes/anonym_1/eigeneSeite.html"><h2>Wo sich Fuchs und Hase Gute Nacht sagen I</h2></a>
    <hr/>
    <p>
        <b>Adresse:</b> Hinter dem 3. Berg links <br/>
        <b>Anzahl Zimmer:</b> 2 <br/>
        <b>Größe:</b> 10qm  <br/>
        <b>Preis:</b> 300 Euro
    </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2018_exposes/anonym_2/strandhaus.png" class="result-list-img">
    <a href="./2018_exposes/anonym_2/strandhaus.html"><h2>Traumhaus am Strand I</h2></a>
    <hr/>
    <p>
        <b>Adresse:</b> Am Strand 13  <br/>
        <b>Anzahl Zimmer:</b> 8 <br/>
        <b>Größe:</b> 200qm  <br/>
        <b>Preis:</b> 4000 Euro
    </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2018_exposes/anonym_3/strandhaus.png" class="result-list-img">
    <h2><a href="./2018_exposes/anonym_3/strandhaus.html">Traumhaus am Strand II</a></h2>
    <hr/>
    <p>
    <b>Adresse:</b> Am Strand 13  <br/>
    <b>Anzahl Zimmer:</b> 8 <br/>
    <b>Größe:</b> 200qm  <br/>
    <b>Preis:</b> 4000 Euro </p>
</div> 

<div class="result-list-entry margin-top">
    <img src="./2018_exposes/anonym_4/strandhaus.png" class="result-list-img">
    <a href="./2018_exposes/anonym_4/strandhaus.html"><h2>Traumhaus am Strand III</h2></a>
    <hr/>
    <p>
    <b>Adresse:</b> Am Strand 13  <br/>
    <b>Anzahl Zimmer:</b> 8 <br/>
    <b>Größe:</b> 200qm  <br/>
    <b>Preis:</b> 4000 Euro </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2018_exposes/anonym_5/schuhhaus.png" class="result-list-img">
    <a href="./2018_exposes/anonym_5/schuhhaus.html"><h2>Was mieft denn hier so gut? Das Haus für die Familie mit dem gewissen Geruchssinn</h2></a>
    <hr/>
    <p>
        <b>Adresse:</b> Neben den Turnschuhen, 143  <br/>
        <b>Anzahl Zimmer:</b> 5 <br/>
        <b>Größe:</b> 170qm  <br/>
        <b>Preis:</b> 1.000 Euro
    </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2018_exposes/anonym_6/haus-am-see.png" class="result-list-img">
    <h2><a href="./2018_exposes/anonym_6/expose.html">Schönes Haus in der Natur</a></h2>
    <hr/>
    <p>
    <b>Adresse:</b>  Am Hügel unendlich <br/>
    <b>Anzahl Zimmer:</b> 3 <br/>
    <b>Größe:</b> 250qm  <br/>
    <b>Preis:</b> 1000 Euro </p>
</div>

<div class="result-list-entry margin-top">
    <img src="./2018_exposes/anonym_7/hoehle.png" class="result-list-img">
    <a href="./2018_exposes/anonym_7/expose.html"><h2>Wo sich Fuchs und Hase Gute Nacht sagen II</h2></a>
    <hr/>
    <p>
        <b>Adresse:</b> Hinter dem 3. Berg links <br/>
        <b>Anzahl Zimmer:</b> 2 <br/>
        <b>Größe:</b> 10qm  <br/>
        <b>Preis:</b> 300 Euro
    </p>
</div>
