<div class="result-list-entry">
    <img src="../2017_exposes/adesuwa/hoehle.png" class="result-list-img">
    <h2><a href="../2017_exposes/adesuwa/hoehle.html">Wo sich Fuchs und Hase Gute Nacht sagen (Adis' Höhle)</a></h2>
    <hr/>
    <p>
    <b>Adresse:</b> Hinter dem 3. Berg links <br/>
    <b>Anzahl Zimmer:</b> 2 <br/>
    <b>Größe:</b> 10qm  <br/>
    <b>Preis:</b> 300 Euro  </p>
</div>

<div class="result-list-entry margin-top">
    <img src="../2017_exposes/blanka/strandhaus.png" class="result-list-img">
    <a href="../2017_exposes/blanka/strandhaus.html"><h2>Traumhaus am Strand (Blankas' Strandhaus)</h2></a>
    <hr/>
    <p>
    <b>Adresse:</b> Am Strand 13  <br/>
    <b>Anzahl Zimmer:</b> 8 <br/>
    <b>Größe:</b> 200qm  <br/>
    <b>Preis:</b> 4000 Euro </p>
</div>

<div class="result-list-entry margin-top">
    <img src="../2017_exposes/sarah/strandhaus.png" class="result-list-img">
    <a href="../2017_exposes/sarah/strandhaus.html"><h2>Traumhaus am Strand (Sarah's Strandhaus)</h2></a>
    <hr/>
    <p>
        <b>Adresse:</b> Am Strand 13  <br/>
        <b>Anzahl Zimmer:</b> 8 <br/>
        <b>Größe:</b> 200qm  <br/>
        <b>Preis:</b> 4000 Euro </p>
</div>