#ui .sections {
    border-bottom: 1px dotted #7e7e7e;
    margin: 50px 0;
}

#ui .divider {
    border-top: 2px dashed #1D4C69;
}

#ui .element-name {
    color: #000000;
    font-weight: 600;
    font-size: 17px;
}

#ui div.code {
    background-color: #1D4C69;
    padding: 20px;
    font-size: 15px;
    width: 80%;
}

#ui div.preview {
    padding: 20px;
    font-size: 15px;
}

#ui .tag {
    color: #F89CF9;
}

#ui .class {
    color: #F6D9FF;
}

#ui .class-name {
    color: #6BE1E8;
}

#ui .code-text {
    color: #fff;
}

#ui .text {
    color: #7e7e7e;
}

#ui ul.list-star-pink > li {
    padding: 4px 0;
    color: #fa1372;
    font-size: 16px;
}

#ui ul.list-star-pink > li i {
    padding-right: 5px;
}

#ui ul.list-star-green > li {
    padding: 4px 0;
    color: #14c051;
    font-size: 16px;
}

#ui ul.list-star-green > li i {
    padding-right: 5px;
}

#ui ul.list-heart-blue > li {
    padding: 4px 0;
    color: #1295d0;
    font-size: 16px;
}

#ui ul.list-heart-blue > li i {
    padding-right: 5px;
}

#ui ul.list-hashtag-purple > li {
    padding: 4px 0;
    color: #7c38d0;
    font-size: 16px;
}

#ui ul.list-hashtag-purple > li i {
    padding-right: 5px;
}

#ui a.link-pink {
    color: #fa1372;
    font-size: 15px;
}

#ui a.link-pink:hover {
    color: #14c051;
}

#ui a.link-pink:visited {
    color: #fa1372;
}

#ui a.link-purple {
    color: #7c38d0;
    font-size: 15px;
}

#ui a.link-purple:hover {
    color: #1295d0;
}

#ui a.link-purple:visited {
    color: #7c38d0;
}

#ui a.link-green {
    color: #14c051;
    font-size: 15px;
}

#ui a.link-green:hover {
    color: #7c38d0;
}

#ui a.link-green:visited {
    color: #14c051;
}

#ui .title-big-green {
    font-size: 26px;
    color: #14c051;
    margin-bottom: 16px;
}

#ui .title-big-blue {
    font-size: 26px;
    color: #1295d0;
    margin-bottom: 16px;
}

#ui .title-small-pink {
    font-size: 22px;
    color: #fa1372;
    margin-bottom: 10px;
}

#ui .title-small-purple {
    font-size: 22px;
    color: #7c38d0;
    margin-bottom: 10px;
}

#ui .title-green-background {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    background-color: #14c051;
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 16px;
}

#ui .title-green-background:hover {
    background-color: #1295d0;
}

#ui .title-pink-border {
    border: 2px solid #fa1372;
    font-size: 22px;
    color: #fa1372;
    text-align: center;
    padding: 15px 10px;
    font-weight: 400;
    margin-bottom: 16px;
}

#ui .title-pink-border:hover {
    border-color: #1295d0;
    color: #1295d0;
}

#ui .title-purple-border {
    border: 2px solid #7c38d0;
    font-size: 22px;
    color: #7c38d0;
    text-align: center;
    padding: 15px 10px;
    font-weight: 400;
    margin-bottom: 16px;
}

#ui .title-purple-border:hover {
    background-color: #7c38d0;
    color: #fff;
}

#ui p.text-grey {
    font-size: 15px;
    color: #5c5a5a;
    margin-bottom: 5px;
}

#ui p.text-grey-bold {
    font-size: 15px;
    color: #5c5a5a;
    font-weight: 700;
    margin-bottom: 5px;
}

#ui p.text-blue {
    font-size: 15px;
    color: #1859AD;
    margin-bottom: 5px;
}

#ui p.text-blue-bold {
    font-size: 15px;
    color: #1859AD;
    font-weight: 700;
    margin-bottom: 5px;
}

#ui .image-semiround {
    display: inline-block;
    border-radius: 5%;
}

#ui .image-round {
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

#ui .image-round:hover {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

#ui .purple-border {
    border: 2px dashed #7c38d0;
    padding: 20px 10px;
}

#ui .blue-border {
    border: 1px solid #1295d0;
    padding: 20px 10px;
}

#ui .pink-border {
    border: 1px dotted #fa1372;
    padding: 20px 10px;
}