#ui .element-name {
    color: #000000;
    font-weight: 600;
    font-size: 17px;
}

#ui div.code {
    background-color: #1D4C69;
    padding: 20px;
    font-size: 15px;
    width: 80%;
}

#ui div.preview {
    padding: 20px;
    font-size: 15px;
}

#ui .tag {
    color: #F89CF9;
}

#ui .class {
    color: #F6D9FF;
}

#ui .class-name {
    color: #6BE1E8;
}

#ui .code-text {
    color: #fff;
}

#ui .text {
    color: #7e7e7e;
}

#ui ul.list-star-pink > li {
    padding: 4px 0;
    color: #fa1372;
}

#ui ul.list-star-pink > li i {
    padding-right: 5px;
}

#ui ul.list-star-green > li {
    padding: 4px 0;
    color: #14c051;
}

#ui ul.list-star-green > li i {
    padding-right: 5px;
}

#ui ul.list-heart-blue > li {
    padding: 4px 0;
    color: #1295d0;
}

#ui ul.list-heart-blue > li i {
    padding-right: 5px;
}

#ui ul.list-hashtag-purple > li {
    padding: 4px 0;
    color: #7c38d0;
}

#ui ul.list-hashtag-purple > li i {
    padding-right: 5px;
}

#ui a.link-pink {
    color: #fa1372;
}

#ui a.link-pink:hover {
    color: #14c051;
}

#ui a.link-purple {
    color: #7c38d0;
}

#ui a.link-purple:hover {
    color: #1295d0;
}

#ui a.link-green {
    color: #14c051;
}

#ui a.link-green:hover {
    color: #7c38d0;
}

#ui .title-big-green {
    font-size: 26px;
    color: #14c051;
}

#ui .title-big-blue {
    font-size: 26px;
    color: #1295d0;
}

#ui .title-small-pink {
    font-size: 22px;
    color: #fa1372;
}

#ui .title-small-purple {
    font-size: 22px;
    color: #7c38d0;
}

#ui .text-grey {
    font-size: 15px;
    color: #5c5a5a;
}

#ui .text-grey-bold {
    font-size: 15px;
    color: #5c5a5a;
    font-weight: 700;
}

#ui .text-blue {
    font-size: 15px;
    color: #1859AD;
}

#ui .text-blue-bold {
    font-size: 15px;
    color: #1859AD;
    font-weight: 700;
}